---
name: update-readme
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - closed
  push:
    branches:
      - main
permissions:
  contents: write
  pull-requests: write
jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        if: github.event_name != 'pull_request' || github.event.action != 'closed'
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
          persist-credentials: false
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        if: github.event_name != 'pull_request' || github.event.action != 'closed'
        with:
          cache: npm
          node-version-file: .node-version
      - if: github.event_name != 'pull_request' || github.event.action != 'closed'
        run: npm ci
      - name: Get inputs markdown
        id: get_inputs_markdown
        if: github.event_name != 'pull_request' || github.event.action != 'closed'
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        env:
          HEAD_REF: ${{github.event.pull_request.head.ref || github.head_ref}}
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          result-encoding: string
          script: |
            const {tsImport} = require('tsx/esm/api')
            const {default: {script}} = await tsImport(
              './scripts/update_readme/update_readme/get_inputs_markdown.ts',
              process.env.GITHUB_WORKSPACE + '/'
            )
            return script()
      - if: github.event_name != 'pull_request' || github.event.action != 'closed'
        env:
          INPUTS: ${{steps.get_inputs_markdown.outputs.result}}
        run: bash "${GITHUB_WORKSPACE}/scripts/update_readme/update_readme/update_readme.sh"
      - if: github.event_name != 'pull_request' || github.event.action != 'closed'
        run: npx prettier --write .
      - uses: dev-hato/actions-diff-pr-management@b446497d139ed3eadc62ec1dd90dd27960ad1a0c # v2.2.4
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          branch-name-prefix: fix-readme
          pr-title-prefix: README修正
          pr-description-prefix: READMEを修正しました。
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true
